/*  FONT */
.title-font{
font-family: "Noto Serif", serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
font-variation-settings:
  "wdth" 100;
}
.normal-font{
font-family: "Inter", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal;
}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
     
}

/* COMMO STYLE  */
.display-flex{
display: flex;
}

.title-font{
font-size: 4rem;
font-weight: bold;
}
.description{
font-size: 1.37rem;
font-width:600px;
color: rgba(0, 0, 0, 0.439);
}

/* BODTY STYLE  */
body{
background-color: #F5F8FF;
}
/* nav Style */
nav{
display: flex;
max-width: 1440px;
justify-content: space-between;
margin: auto;
margin-bottom: 120px;
margin-top: 40px;
}
.manu{
display: flex;
align-items: center;
}
nav ul {
display: flex;
list-style: none;
}
nav ul a{
text-decoration: none;
color: #8987A1;
margin-right: 40px;
}
.icon a{
text-decoration: none;
color:black ;
}

/* Banner Section */
.banner-section{
display: flex;
max-width: 1440px;
max-height: 461px;
margin: 0 auto;
}
.banner-content{
width: 570px;
height: 299px;
position: relative;
bottom: -65px;
}

.banner-img{
width:570px ;
height:355px ;
position: relative;
right: -290px;
}


/* Plants-Section */
.Plants-Section{
max-width: 1440px;
height:1600px;
margin: auto;
margin-top: 120px;
margin-bottom: 120px;
}
.our-plants-title{
text-align: center;
width:850px;
margin-bottom: 50px;
position: relative;
right: -260px;
}


.Plants-card-container{  
text-align: center;
display:grid;
grid-template-columns: repeat(4,1fr);
}


.plants-card-content{
align-items: center;
height: 700px;
}

.plants-img{
width: 330px;
height:400px;
}

.plants-imge-title{
font-size:1.5rem ;
font-weight:600;
color: #111111;
position: relative;
bottom: -70px;
}
.plants-prise{
font-size:1.5rem ;
font-weight:bold;
color: #111111;
position: relative;
bottom: -90px;
}
.btn{
width:330px ;
color:white;
background-color: #E95A08;
padding: 19px 80px;
border: none;
cursor: pointer;
position: relative;
bottom: -160px;
}

.Flower-Lover-section{
justify-content: space-between;
display: flex;
align-items:center;
max-width: 1440px;
max-height: 680px;
margin: auto;
margin-bottom:133px ;
margin-top: 210px;
}
.Lover-img{
width:600px ;


}
.Flower-Lover-content{
width: 730px;
height:621px ;
 

}
.lover-title{
font-size:5rem;
font-weight: bolder;
}
.lover-description {
font-size:1.7rem ;
display: flex;
margin-top:30px ;
gap: 25px;
      
 }
.trusted-badge{
display: block;
width: 300px;
display: flex;
position:absolute;
margin-left: 430px;
margin-top: -653px;
}





/* Latest-Deals-style */
.Latest-Deals-section{
margin-bottom: 120px;
align-items: center;
justify-content: center;
}



.Latest-Deals-title{
margin: auto;
align-items: center;
justify-content: center;
text-align: center;
width: 850px;
margin-bottom: 120px;
}
.Latest-Deals-images{
align-items: center;
justify-content: center;
display: flex;
margin: auto;
gap: 20px;
}
.dual-imge{
display: grid;
gap: 20px;
}



.image-container,.imge-ana{
position: relative; 
display: inline-block;
}

.overlay{
border-radius: 20px;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5);
}

.text-overlay {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%); 
color: white; 
font-size: 20px; 
font-weight: bold; 
text-align: center; 
width: 100%; 
padding: 10px; 
box-sizing: border-box;
}

.ana-img{
width: 495px;
border-radius: 20px;
z-index: 2;
}
.zabo-img{
width: 1000px;
border-radius:20px ;

}
 
.zabo-text{
  font-size: 3rem;
}

/* Join Section */
.join-section {
background-image: url(../assets/news-letter-bg.png);
background-size: cover;
height: 600px;
margin-bottom:80px;
}
.join-content{
font-size: 3rem;
text-align: center;
color: rgba(255, 255, 255, 0.773);
position: relative;
bottom: -190px;
}

.join-form input {
padding: 18px ;
height:44px ;
width: 900px;
height: 60px;
background-color: #ffffff;
border: none;
position: relative;
 }

.join-form button {
padding: 21px 65px;
background-color: #f26522;
color: white;
font-size: 16px;
border: none;
cursor: pointer;
position: relative;
right: 15px;
bottom: -2px;

} 

/* footer-section-style */

footer{
margin-bottom: 20px;
}
.footer-section{
display: flex;
width: 1400px;
height: 300px;
gap: 150px;
margin: auto;
justify-content: center;
}
.footer-logo-section{
width: 320px;         
}
footer a{
text-decoration: none;
color: #8987A1;
margin-top: ;
}
.social-media a{
 margin-right:30px;
}









/* responsive section*/
@media screen and ( max-width:575px) {
/* nav-section */
nav ul{
display: none;
}
nav {
position: relative;
margin: 16px 20px;
}
.logo{
width: 63px;
height: 38px;
}

 /* Banner-section */
.banner-section{
flex-direction: column-reverse;
align-items: center;
}

.flower-img{
width: 420px;
height: 245px;
position: relative;
left: 1px;
}
.banner-img{
 width: 420px;
 height: 245px;
 position: relative;
 left: -2px;
 }
.banner-content{
max-width: 365px;
height: 147px;
position: relative;
top: 33px;
}
.banner-title{
font-size: 1.5rem;
font-weight: bold;
}
.banner-description{
 font-size: 0.87rem;
 width: 361px;
}







.our-plants-title{

width: 393px;
height: 117px;
position: relative;
right:-10px;

}
.plants-title{
font-size:1.5rem;
}      
.plants-description{
font-size: 0.8rem;
margin-top: 10px;
}
.Plants-card-container{
grid-template-columns: repeat(2,1fr);
}
.plants-card-content{
align-items: center;
height: 450px;
}
.plants-img{
width: 191px;
height: 240px;
}
.plants-imge-title{
font-size: 1rem;
font-weight: 500px;
position: relative;
bottom: -40px;
}
.plants-prise{
font-size:1rem ;
font-weight: bold;
position: relative;
bottom: -50px;
}
.btn{
width: 191px;
padding: 15px 23px;
position: relative;
bottom: -90px;
}



/* Flower & Plants Lover  */
.trusted-badge{
display: none;
}
.Flower-Lover-section{
flex-direction: column;
width: 410px;
height:700px;
position: relative;
bottom: -170px;
}
.Lover-img{
width: 380px;
}
.Flower-Lover-content{
width: 350px;
position: relative;
bottom:-44px;
}
.lover-title{
font-size: 1.5rem;
font-weight: bolder;
line-break:none;
}
.lover-description{
font-size: 1rem;
}
/* Latest-Deals-images */
.Latest-Deals-section{
position: relative;
bottom: -310px;
}
.Latest-Deals-title{
width: 350px;
}
.title-font{
font-size: 2rem;
}
.Latest-Deals-images{
flex-direction:column ;
}
.ana-img{
width: auto;
border-radius: 20px;
}
.zabo-img{
width: 360px;
border-radius:20px ;
}
.zabo-text{
  font-size: 1.2rem;
}

/* .join-content{ */

.join-section{
height: 200px;
margin-bottom: 120px;
position: relative;
bottom: -280px;
}
.join-content{
font-size: 0.7rem;
align-items: center;
text-align: center;
justify-content: center;
top:80px;
}

.join-form input {
width: 200px;
height: 20px; 
 }
.join-form button {
padding:9px 10px;
position: relative;
bottom: -1px;
} 

/* footer-section */

.footer-section{
flex-direction: column;
width: auto;
height: 900px;
position: relative;
bottom:-200px;
padding-left: 20px;
justify-content: center;
gap: 50px;
}
.footer-logo-section{
width: 400px;         
}


}
